/****---Custom properties---****/
:root{
    --first-color: rgb(217 ,0 ,98);
    --firs-alpha-color: rgba(217, 0, 98, 0.75);

    --second-color: rgb(20, 25, 45);
    --second-alpha-color: rgba(20, 25, 45, 0.75);

    --third-color: rgb(80, 20, 100);
    --third-alpha-color: rgba(80, 20, 100, 0.75);

    --link-color: rgb(80, 158, 227);
    --link-alpha-color: rgb(80, 158, 227, 0.75);

    --bg-color: rgb(245, 245, 245);
    --bg-alpha-color: rgb(245, 245, 245, 0.75);
}

/****---Reset styles---****/

body{
    font-family: 'Raleway', sans-serif;
}

/****---Bootstrap styles---****/

.bg-dark{
    background-color: var(--second-color) !important;
}

.navbar-brand img{
    width: auto;
    height: 3rem;
}

.nav-item{
    padding-left: 0.5rem;
    transition: all .3s ease-out;
}

.nav-item:hover{
    background-color: var(--firs-alpha-color);
}

.nav-link{
    color: var(--first-color);
    font-size: 1.15rem;
    font-weight: bold;
}

.nav-link:hover{
    color: var(--bs-white)
}

/****---My styles---****/

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}