/****---Custom properties---****/
:root{
    --first-color: rgb(217 ,0 ,98);
    --firs-alpha-color: rgba(217, 0, 98, 0.75);

    --second-color: rgb(20, 25, 45);
    --second-alpha-color: rgba(20, 25, 45, 0.75);

    --third-color: rgb(80, 20, 100);
    --third-alpha-color: rgba(80, 20, 100, 0.75);

    --link-color: rgb(80, 158, 227);
    --link-alpha-color: rgb(80, 158, 227, 0.75);
    
    --bg-color: rgb(245, 245, 245);
    --bg-alpha-color: rgb(245, 245, 245, 0.75);
}

/****---Reset styles---****/

body{
    font-family: 'Raleway', sans-serif;
}

/****---Bootstrap styles---****/

/****---My styles---****/

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}